# Build artifacts
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyd
*.pdb
*.obj
*.lib
*.exp
*.idb
*.ilk

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.vcxproj
*.vcxproj.filters
*.sln

# Python
*.whl
.pytest_cache/

# VS
.vs/
x64/
